# Core Python dependencies for FLASh
# These are the packages required to run the examples and the library.

numpy
scipy
matplotlib
h5py
mpi4py
petsc4py
pyvista
ufl
basix
pyamg
pydantic
# tqdm is used for progress bars in some utilities
tqdm

# Optional (use if you want to use gdown for Google Drive downloads)
gdown
